/*================= Variables =============*/
$main-color: #fff8ec;
$text-header-color-a: #17372e;
$btn-color: #fff;
$btn-bg1: #f94e41;
$btn-bg2: #ffd8d7;
$section3_color: #790808;
$swiper-slide-white: #fff;
/*=================== Placeholder ===============*/
%div-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
%div-col{
  display: flex;
  flex-direction: column;
  align-items: center;
}
%clip-bottom{
  -webkit-clip-path: polygon(100% 0, 100% 98%, 93% 97%, 89% 97%, 85% 98%, 80% 98%, 77% 97%, 75% 97%, 73% 98%, 69% 96%, 66% 96%, 63% 97%, 59% 97%, 55% 97%, 51% 96%, 48% 97%, 45% 97%, 42% 97%, 37% 97%, 33% 96%, 30% 96%, 25% 97%, 21% 96%, 19% 98%, 16% 98%, 13% 97%, 10% 96%, 6% 97%, 0 98%, 0 0);
  clip-path: polygon(100% 0, 100% 98%, 93% 97%, 89% 97%, 85% 98%, 80% 98%, 77% 97%, 75% 97%, 73% 98%, 69% 96%, 66% 96%, 63% 97%, 59% 97%, 55% 97%, 51% 96%, 48% 97%, 45% 97%, 42% 97%, 37% 97%, 33% 96%, 30% 96%, 25% 97%, 21% 96%, 19% 98%, 16% 98%, 13% 97%, 10% 96%, 6% 97%, 0 98%, 0 0);
}
%clip-top{
  -webkit-clip-path: polygon(100% 100%, 100% 0, 95% 4%, 91% 4%, 86% 3%, 82% 6%, 79% 6%, 75% 5%, 70% 5%, 66% 5%, 62% 4%, 58% 4%, 56% 6%, 54% 6%, 50% 6%, 44% 5%, 40% 5%, 36% 6%, 31% 6%, 29% 4%, 23% 3%, 21% 5%, 18% 5%, 11% 6%, 0 4%, 0 100%);
  clip-path: polygon(100% 100%, 100% 0, 95% 4%, 91% 4%, 86% 3%, 82% 6%, 79% 6%, 75% 5%, 70% 5%, 66% 5%, 62% 4%, 58% 4%, 56% 6%, 54% 6%, 50% 6%, 44% 5%, 40% 5%, 36% 6%, 31% 6%, 29% 4%, 23% 3%, 21% 5%, 18% 5%, 11% 6%, 0 4%, 0 100%);}
%clip-left{
  -webkit-clip-path: polygon(100% 100%, 0 100%, 5% 95%, 5% 91%, 5% 88%, 3% 84%, 4% 81%, 5% 78%, 6% 74%, 6% 70%, 6% 68%, 5% 63%, 6% 59%, 6% 53%, 5% 49%, 8% 47%, 6% 44%, 6% 39%, 5% 34%, 5% 30%, 7% 26%, 4% 21%, 5% 18%, 8% 13%, 6% 6%, 0 0, 100% 0);
  clip-path: polygon(100% 100%, 0 100%, 5% 95%, 5% 91%, 5% 88%, 3% 84%, 4% 81%, 5% 78%, 6% 74%, 6% 70%, 6% 68%, 5% 63%, 6% 59%, 6% 53%, 5% 49%, 8% 47%, 6% 44%, 6% 39%, 5% 34%, 5% 30%, 7% 26%, 4% 21%, 5% 18%, 8% 13%, 6% 6%, 0 0, 100% 0);
}
%clip-right{
  -webkit-clip-path: polygon(0 100%, 97% 100%, 94% 95%, 93% 91%, 94% 87%, 94% 82%, 93% 78%, 92% 74%, 93% 70%, 95% 65%, 94% 58%, 93% 56%, 94% 52%, 94% 45%, 95% 43%, 95% 36%, 93% 34%, 93% 29%, 94% 28%, 95% 24%, 96% 20%, 95% 19%, 95% 14%, 96% 8%, 98% 0, 0 0);
  clip-path: polygon(0 100%, 97% 100%, 94% 95%, 93% 91%, 94% 87%, 94% 82%, 93% 78%, 92% 74%, 93% 70%, 95% 65%, 94% 58%, 93% 56%, 94% 52%, 94% 45%, 95% 43%, 95% 36%, 93% 34%, 93% 29%, 94% 28%, 95% 24%, 96% 20%, 95% 19%, 95% 14%, 96% 8%, 98% 0, 0 0);
}
%clip-bottom-section3{
  -webkit-clip-path: polygon(0 0, 0 86%, 8% 87%, 12% 87%, 17% 87%, 24% 89%, 28% 89%, 36% 88%, 47% 89%, 47% 89%, 41% 89%, 31% 88%, 50% 90%, 56% 91%, 60% 90%, 65% 90%, 70% 91%, 75% 91%, 79% 91%, 85% 91%, 92% 89%, 100% 88%, 100% 0);
  clip-path: polygon(0 0, 0 86%, 8% 87%, 12% 87%, 17% 87%, 24% 89%, 28% 89%, 36% 88%, 47% 89%, 47% 89%, 41% 89%, 31% 88%, 50% 90%, 56% 91%, 60% 90%, 65% 90%, 70% 91%, 75% 91%, 79% 91%, 85% 91%, 92% 89%, 100% 88%, 100% 0);}
/*=============================== mixin ==================================*/
@mixin absolute_div($top, $right, $bottom, $left){
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
/*========================== Main et Bouton et btn-swiper ================================*/
main{
  background: $main-color;
  width: 100vw;
  padding: 20px 60px;
}
button{
  @extend %div-row;
  margin-left: 4px;
  border-radius: 64px;
  color: $btn-color;
  letter-spacing: 0.1em;
  background-color: $btn-bg1;
  padding: 10px 16px 12px;
  flex: 0 0 auto;
  border-style: none;
  font-weight: 600;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  svg{
    width: 18px;
    height: 17px;
  }
}
button:hover{
  background: $btn-bg2;
  color: $btn-bg1;
}
.swiper_btn{
  color: $btn-bg1;
  background: $btn-bg2;
  border-radius: 7px;
  padding: 12px;
  height: 40px;
  width: 40px;
}

/*=================================== HEADER =========================================*/
/*===================================================================================*/

header{
  @extend %div-row;
  justify-content: space-between;
  .logo {
    width: 10%;
    svg{
      width: 162px;
      height: 41px;
    }
  }
  .nav_text{
    @extend %div-row;
    justify-content: flex-end;
    width: 90%;
  }
}
nav .nav_element{
  @extend %div-row;
  justify-content: space-around;
  list-style: none;
}
nav .nav_element .nav_link{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
nav .nav_element .nav_link_dropdown{
  position: relative;
}
nav .nav_element .nav_link a, .nav_link .dropdown .li_dropdown{
  padding: 8px 12px;
  font-weight: 600;
  padding: 8px 12px;
  color: $text-header-color-a;
  text-decoration: none;
  transition: color 0.5s ease;
}
nav .nav_element .active a{
  color: $btn-bg1;
}
nav .nav_element .nav_link a:hover, .nav_link .dropdown .li_dropdown:hover{
  color: $btn-bg1;
}
nav .nav_element .nav_link_dropdown .dropdown{
  display: none;
  @include absolute_div(30px, none, none, 0);
  list-style: none;
  background-color: $btn-bg2;
  padding: 0 16px;
  border-radius: 7px;
}

/*================================= section1 =========================================*/
/*==================================================================================*/
.section1{
  @extend %div-row;
  justify-content: space-between;
  margin-top: 10rem;
}
.section1 .section1_div1{
  @extend %div-col;
  align-items: flex-start;
  max-width: 50%;
}
.section1 .section1_div1 .h1_section1{
  margin-bottom: 0.4em;
  font-family: Ivypresto;
  font-size: 5.5rem;
  line-height: 1;
  font-weight: 500;
}
.section1 .section1_div1 .row1_section1_div1{
  @extend %div-row;
  border-bottom: 2px dotted $text-header-color-a;
  margin-bottom: 2em;
  .p_section1{
    display: block;
    width:  410px;
    height: 120px;
    font-weight: 500;
  }
}
.section1 .section1_div1 .p2_section1{
  width: 320px;
  height: 67px;
  font-family: "Gt Alpina Extended";
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: -0.01em;
  margin-bottom: 1em;
}
.div_btn{
  width: 340px;
  @extend %div-row;
  justify-content: space-between;
  .btn_start_party, .btn_how_it_work{
    border-radius: 7px;
  }
  .btn_how_it_work{
    color: $btn-bg1;
    background: $btn-bg2;
  }
  button.btn_how_it_work:hover{
    background: $btn-bg1;
    color: $btn-color;
  }
}
.section1_div2{
  max-width: 50%;
  padding: 20px;
}
.section1_div2 .swiper {
  position: relative;
  width: 100%;
  max-height: 800px;
  max-width: 800px;
  margin-right: 10%;
  margin-left: -20px;
    .swiper-wrapper{
      width: 80%;
      perspective: 1200px;
    }
}
.section1_div2  .swiper-slide{
  min-width: 100%;
  height: 500px;
  img{
    object-fit: cover;
    width: 500px;
    height: 500px;
  }
}

.section1_div2  .swiper-slide:nth-child(4n + 1){
  rotate: -1deg;
  @extend %clip-bottom;
}
.section1_div2  .swiper-slide:nth-child(4n + 2){
  rotate: 3deg;
  @extend %clip-top;
}
.section1_div2  .swiper-slide:nth-child(4n + 3){
  rotate: -1deg;
  @extend %clip-left;
}
.section1_div2  .swiper-slide:nth-child(4n + 4){
  rotate: 3deg;
  @extend %clip-right;
}

.section1_div2  .swiper .swiper-button-prev{
  position: absolute;
  left: 90px!important;
}
.section1_div2  .swiper .swiper-button-next{
  position: absolute;
  right: -20px;
}

/*======================================================= SECTION2 =================================================*/
/*==================================================================================================================*/
.section2 {
  width: 100%;
  @extend %div-row;
  padding-top: 13rem;

  .section2_div1 {
    max-width: 50%;

    .swiper, .swiper-wrapper {
      width: 100%;

      .swiper-slide {
        @extend %clip-right;
        background: $main-color;
        transition: all 2.5s ease;
        img {
          object-fit: cover;
          width: 570px;
          height: 600px;
        }
      }
    }
  }
}
.section2_div2{

  @extend %div-col;
  align-items: flex-start;
  justify-content: space-between;
  height: 600px;
  padding:  0 20px;
  max-width: 50%;

  .p_section2_div2{
    display: block;
    margin-bottom: 1.5em;
    font-size: .875rem;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: .08em;
  }
}
.section2_div2, .section2_div2_div1, .section2_div2_div1_div1{
  width: 100%;
}
.section2_div2 .section2_div2_div1 {
  @extend %div-col;
  justify-content: space-around;
  align-items: flex-start;
}
.section2_div2_div1_div1 {

  .h2_section_div2 {
    font-family: Ivypresto, Georgia, sans-serif;
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 400;
    color: $text-header-color-a;
  }
  .h2_active{
    color: $btn-bg1;
  }
  .texte_explication_section2_div2{
    margin: 1em 0;
    display: none;

    p{
      font-size: 1.25rem;
    }
  }
  .charge{
    display: inline-block;
    width: 100%;
    height: 1px;
    background: $btn-bg2;

    .div_charge{
      width: 100%;
      height: 1px;
      background: $btn-bg1;
    }
  }
}
.section2 .texte-active{
  display: block;
}

/*======================================== SECTION3 ===============================*/
/*=================================================================================*/

.section3, .section3_div1{
  width: 100%;
  margin-top: 6rem;

  .section3_div1{
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 7px;
    background: $section3_color;
  }
}
.section3_div1_div2{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  .swiper-wrapper{
    margin-top: 3rem;
  }
}
.section3_div1_div2 h2{
  font-family: Ivypresto,Georgia,sans-serif;
  font-size: 5rem;
  line-height: 1;
  font-weight: 400;
  color: $swiper-slide-white;
}
.section3_div1 .swiper-slide{
  .a_swiper_slide{
    text-decoration: none;
    width: 330px;
    height: 511px;
    @extend %div-col;
    align-items: flex-start;
    border-radius: 7px;
    background: $swiper-slide-white;
    border: 1px solid $swiper-slide-white;
    transition: all 0.2s ease-in-out;
  }
  .a_swiper_slide:hover{
    border: 3px solid $btn-bg1;
  }
}

.a_swiper_slide .slide_img {
  width: 100%;
  height: 40%;
  @extend %clip-bottom-section3;
  img {
    border-radius: 7px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.a_swiper_slide .slide_div{
  padding: 0 24px;
  @extend %div-col;
  align-items: flex-start;
  height: 55%;
}
.section3_div1  .slide_h3,.section3_div1 .slide_p p{
  color: $text-header-color-a;
  font-family: Ivypresto, Georgia, sans-serif;
  text-decoration: none;
}
.section3_div1  .slide_h3{
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
}
.slide_p{
  margin-top: 1rem;
}
.section3_div1 .slide_div .div_button {
  width: 100%;
  @extend %div-row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  margin-top: auto;

  .section_slide_a {
    display: block;
    text-decoration: none;
    min-width: 56px;
    padding: 0.2em 0.8em 0.3em;
    border: 1px solid $text-header-color-a;
    border-radius: 20px;
    color: $text-header-color-a;
    font-size: .75rem;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  .section_slide_a:hover{
    color: $btn_bg1;
    border-color: $btn_bg1;
  }
}
.section3_div1 .div_btn{
  @extend %div-row;
}
.section3_div1 .swiper_btn{
  background: $btn_bg1;
  color: $swiper-slide-white;
}
.section3_div1 .swiper-button-prev{
  position: absolute;
  top: 30px;
  left: 920px;
}
.section3_div1 .swiper-button-next{
  position: absolute;
  top: 30px;
  right: 30px;
}
