/*================= Variables =============*/
$main-color: #fff8ec;
$text-header-color-a: #17372e;
$btn-color: #fff;
$btn-bg1-a: rgba(245, 77, 64, 0.8);
$btn-bg1: #f54d40;
$btn-bg2: #ffd8d7;
$section3_color: #790808;
$swiper-slide-white: #fff;
$poppup-bg-color: rgba(0,0,0,.5);
/*=================== Placeholder ===============*/
%div-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
%div-col{
  display: flex;
  flex-direction: column;
  align-items: center;
}
%clip-bottom{
  -webkit-clip-path: polygon(100% 0, 100% 98%, 93% 97%, 89% 97%, 85% 98%, 80% 98%, 77% 97%, 75% 97%, 73% 98%, 69% 96%, 66% 96%, 63% 97%, 59% 97%, 55% 97%, 51% 96%, 48% 97%, 45% 97%, 42% 97%, 37% 97%, 33% 96%, 30% 96%, 25% 97%, 21% 96%, 19% 98%, 16% 98%, 13% 97%, 10% 96%, 6% 97%, 0 98%, 0 0);
  clip-path: polygon(100% 0, 100% 98%, 93% 97%, 89% 97%, 85% 98%, 80% 98%, 77% 97%, 75% 97%, 73% 98%, 69% 96%, 66% 96%, 63% 97%, 59% 97%, 55% 97%, 51% 96%, 48% 97%, 45% 97%, 42% 97%, 37% 97%, 33% 96%, 30% 96%, 25% 97%, 21% 96%, 19% 98%, 16% 98%, 13% 97%, 10% 96%, 6% 97%, 0 98%, 0 0);
}
%clip-top {
  -webkit-clip-path: polygon(0 100%, 0 1%, 9% 1%, 12% 1%, 18% 1%, 18% 1%, 22% 0%, 25% 1%, 27% 1%, 30% 1%, 34% 2%, 38% 2%, 41% 2%, 44% 2%, 47% 3%, 49% 3%, 51% 3%, 54% 3%, 57% 3%, 60% 3%, 63% 4%, 66% 4%, 70% 4%, 73% 4%, 80% 4%, 80% 4%, 84% 4%, 87% 4%, 94% 4%, 100% 3%, 100% 100%);
  clip-path: polygon(0 100%, 0 1%, 9% 1%, 12% 1%, 18% 1%, 18% 1%, 22% 0%, 25% 1%, 27% 1%, 30% 1%, 34% 2%, 38% 2%, 41% 2%, 44% 2%, 47% 3%, 49% 3%, 51% 3%, 54% 3%, 57% 3%, 60% 3%, 63% 4%, 66% 4%, 70% 4%, 73% 4%, 80% 4%, 80% 4%, 84% 4%, 87% 4%, 94% 4%, 100% 3%, 100% 100%);
}
%clip-left {
  -webkit-clip-path: polygon(100% 0, 2% 0, 4% 4%, 5% 6%, 4% 12%, 4% 12%, 4% 14%, 6% 19%, 6% 19%, 5% 20%, 5% 23%, 4% 24%, 6% 27%, 5% 28%, 5% 32%, 5% 32%, 4% 35%, 4% 36%, 5% 36%, 7% 40%, 5% 41%, 5% 42%, 6% 45%, 6% 47%, 5% 48%, 7% 52%, 7% 52%, 6% 54%, 5% 55%, 7% 60%, 7% 60%, 7% 61%, 5% 63%, 5% 64%, 5% 68%, 4% 68%, 4% 72%, 6% 72%, 6% 74%, 6% 76%, 6% 78%, 6% 80%, 3% 81%, 5% 84%, 5% 87%, 5% 89%, 4% 91%, 5% 93%, 3% 100%, 100% 100%);
  clip-path: polygon(100% 0, 2% 0, 4% 4%, 5% 6%, 4% 12%, 4% 12%, 4% 14%, 6% 19%, 6% 19%, 5% 20%, 5% 23%, 4% 24%, 6% 27%, 5% 28%, 5% 32%, 5% 32%, 4% 35%, 4% 36%, 5% 36%, 7% 40%, 5% 41%, 5% 42%, 6% 45%, 6% 47%, 5% 48%, 7% 52%, 7% 52%, 6% 54%, 5% 55%, 7% 60%, 7% 60%, 7% 61%, 5% 63%, 5% 64%, 5% 68%, 4% 68%, 4% 72%, 6% 72%, 6% 74%, 6% 76%, 6% 78%, 6% 80%, 3% 81%, 5% 84%, 5% 87%, 5% 89%, 4% 91%, 5% 93%, 3% 100%, 100% 100%);
}
%clip-right{
  -webkit-clip-path: polygon(0 100%, 97% 100%, 94% 95%, 93% 91%, 94% 87%, 94% 82%, 93% 78%, 92% 74%, 93% 70%, 95% 65%, 94% 58%, 93% 56%, 94% 52%, 94% 45%, 95% 43%, 95% 36%, 93% 34%, 93% 29%, 94% 28%, 95% 24%, 96% 20%, 95% 19%, 95% 14%, 96% 8%, 98% 0, 0 0);
  clip-path: polygon(0 100%, 97% 100%, 94% 95%, 93% 91%, 94% 87%, 94% 82%, 93% 78%, 92% 74%, 93% 70%, 95% 65%, 94% 58%, 93% 56%, 94% 52%, 94% 45%, 95% 43%, 95% 36%, 93% 34%, 93% 29%, 94% 28%, 95% 24%, 96% 20%, 95% 19%, 95% 14%, 96% 8%, 98% 0, 0 0);
}
%clip-bottom-section3{
  -webkit-clip-path: polygon(0 0, 0 86%, 8% 87%, 12% 87%, 17% 87%, 24% 89%, 28% 89%, 36% 88%, 47% 89%, 47% 89%, 41% 89%, 31% 88%, 50% 90%, 56% 91%, 60% 90%, 65% 90%, 70% 91%, 75% 91%, 79% 91%, 85% 91%, 92% 89%, 100% 88%, 100% 0);
  clip-path: polygon(0 0, 0 86%, 8% 87%, 12% 87%, 17% 87%, 24% 89%, 28% 89%, 36% 88%, 47% 89%, 47% 89%, 41% 89%, 31% 88%, 50% 90%, 56% 91%, 60% 90%, 65% 90%, 70% 91%, 75% 91%, 79% 91%, 85% 91%, 92% 89%, 100% 88%, 100% 0);}
/*=============================== mixin ==================================*/
@mixin absolute_div($top, $right, $bottom, $left){
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
/*========================== Main et Bouton et btn-swiper ================================*/
main{
  background: $main-color;
  width: 100%;
  padding: 100px 60px 20px 60px;
  overflow: hidden;
}
button{
  @extend %div-row;
  margin-left: 4px;
  border-radius: 64px;
  color: $btn-color;
  letter-spacing: 0.1em;
  background-color: $btn-bg1;
  padding: 10px 16px 12px;
  flex: 0 0 auto;
  border-style: none;
  font-weight: 600;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  svg{
    width: 18px;
    height: 17px;
  }
}
button:hover{
  background: $btn-bg2;
  color: $btn-bg1;
}
.swiper_btn{
  color: $btn-bg1;
  background: $btn-bg2;
  border-radius: 7px;
  padding: 12px;
  height: 40px;
  width: 40px;
}
h3{
  display: block;
  font-size: 0.875rem;
  line-height: 1.1;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $swiper_slide-white;
}
/*=================================== HEADER =========================================*/
/*===================================================================================*/

header{
  @extend %div-row;
  justify-content: space-between;
  background: $main-color;
  padding: 20px 60px;
  .logo {
    width: 10%;
    svg{
      width: 162px;
      height: 41px;
    }
  }
  .nav_text{
    @extend %div-row;
    justify-content: flex-end;
    width: 90%;
  }
}
nav .nav_element{
  @extend %div-row;
  justify-content: space-around;
  list-style: none;
}
nav .nav_element .nav_link{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
nav .nav_element .nav_link_dropdown{
  position: relative;
  svg{
    height: 15px;
    width: 15px;
  }
}
nav .nav_element .nav_link a, .nav_link .dropdown .li_dropdown, .nav_link_dropdown{
  padding: 8px 12px;
  font-weight: 600;
  color: $text-header-color-a;
  text-decoration: none;
  transition: color 0.5s ease;
}
nav .nav_element .active a{
  color: $btn-bg1;
}
nav .nav_element .nav_link a:hover, .nav_link_dropdown:hover, .nav_link .dropdown .li_dropdown:hover{
  color: $btn-bg1;
}
nav .nav_element .nav_link_dropdown .dropdown{
  display: none;
  @include absolute_div(30px, none, none, 0);
  list-style: none;
  background-color: $btn-bg2;
  padding: 0 16px;
  border-radius: 7px;
}
/*--- btn hamburger ---------*/
  .btn_menu_hamburger{
    display: none;
  }
  .bar{
    position: relative;
    z-index: 60;
    width: 28px;
    height: 3px;
    padding: 0;
    background-color: $btn-bg1;
    transition: all 0.5s ease;
    margin: 20px;
  }
  .bar::before, .bar::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 70;
    width: 28px;
    height: 3px;
    background-color: $btn-bg1;
    transition: all 0.5s ease;
  }
  .bar::after{
    top: -10px;
  }
  .active{
    .bar{
      height: 3px;
      background: transparent;
    }
    .bar::before{
      top: 5px;
      transform: rotate(-45deg);
    }
    .bar::after{
      top: 5px;
      transform: rotate(45deg);
    }
  }

/*================================= section1 =========================================*/
/*==================================================================================*/
.section1{
  @extend %div-row;
  justify-content: space-between;
}
/*---------- first big div ---------*/

.section1 .section1_div1{
  @extend %div-col;
  align-items: flex-start;
  max-width: 50%;
}
.section1 .section1_div1 .h1_section1{
  margin-bottom: 0.4em;
  font-family: Ivypresto;
  font-size: 5.5rem;
  line-height: 1;
  font-weight: 500;
}
.section1 .section1_div1 .row1_section1_div1{
  @extend %div-row;
  border-bottom: 2px dotted $text-header-color-a;
  margin-bottom: 2em;
  .p_section1{
    display: block;
    width:  410px;
    height: 120px;
    font-weight: 500;
  }
}
.section1 .section1_div1 .p2_section1{
  width: 320px;
  height: 67px;
  font-family: "Gt Alpina Extended";
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: -0.01em;
  margin-bottom: 1em;
}
.div_btn{
  width: 340px;
  @extend %div-row;
  justify-content: space-between;
  .btn_start_party, .btn_how_it_work{
    border-radius: 7px;
  }
  .btn_how_it_work{
    color: $btn-bg1;
    background: $btn-bg2;
  }
  button.btn_how_it_work:hover{
    background: $btn-bg1;
    color: $btn-color;
  }
}
/*---------- second big div ---------*/

.section1_div2{
  max-width: 50%;
  padding: 20px;
}
.section1_div2 .swiper {
  position: relative;
  width: 100%;
  max-height: 800px;
  max-width: 800px;
  margin-right: 10%;
  margin-left: -20px;
    .swiper-wrapper{
      width: 80%;
      perspective: 1200px;
    }
}
.section1_div2  .swiper-slide{
  min-width: 100%;
  height: 500px;
  img{
    object-fit: cover;
    width: 500px;
    height: 500px;
  }
}
/*-------------------- swiper-slide 1 clip-path --------------------*/
.section1_div2  .swiper-slide:nth-child(4n + 1){
  rotate: -1deg;
  @extend %clip-bottom;
}
.section1_div2  .swiper-slide:nth-child(4n + 2){
  rotate: 3deg;
  @extend %clip-top;
}
.section1_div2  .swiper-slide:nth-child(4n + 3){
  rotate: -1deg;
  @extend %clip-left;
}
.section1_div2  .swiper-slide:nth-child(4n + 4){
  rotate: 3deg;
  @extend %clip-right;
}

.section1_div2  .swiper .swiper-button-prev{
  position: absolute;
  left: 90px!important;
}
.section1_div2  .swiper .swiper-button-next{
  position: absolute;
  right: -20px;
}

/*====================================== SECTION2 ==================================*/
/*==================================================================================*/
.section2 {
  width: 100%;
  @extend %div-row;
  padding-top: 13rem;
  /*---------- first big div ---------*/

  .section2_div1 {
    max-width: 50%;

    .swiper, .swiper-wrapper {
      width: 100%;

      .swiper-slide {
        @extend %clip-right;
        background: $main-color;
        transition: all 2.5s ease;
        img {
          object-fit: cover;
          width: 570px;
          height: 600px;
        }
      }
    }
  }
}
/*---------- second big div ---------*/

.section2_div2{

  @extend %div-col;
  align-items: flex-start;
  justify-content: space-between;
  height: 600px;
  padding:  0 20px;
  max-width: 50%;

  .p_section2_div2{
    display: block;
    margin-bottom: 1.5em;
    font-size: .875rem;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: .08em;
  }
}
.section2_div2, .section2_div2_div1, .section2_div2_div1_div1{
  width: 100%;
}
.section2_div2 .section2_div2_div1 {
  @extend %div-col;
  justify-content: space-around;
  align-items: flex-start;
}
.section2_div2_div1_div1 {

  .h2_section_div2 {
    font-family: Ivypresto, Georgia, sans-serif;
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 400;
    color: $text-header-color-a;
  }
  .h2_active{
    color: $btn-bg1;
  }
  .texte_explication_section2_div2{
    margin: 1em 0;
    display: none;

    p{
      font-size: 1.25rem;
    }
  }
  .charge{
    display: inline-block;
    width: 100%;
    height: 1px;
    background: $btn-bg2;

    .div_charge{
      width: 100%;
      height: 1px;
      background: $btn-bg1;
    }
  }
}
.section2 .texte-active{
  display: block;
}

/*======================================== SECTION3 ===============================*/
/*=================================================================================*/

/*---------- first big div ---------*/

.section3, .section3_div1, .section3_div2{
  width: 100%;
  margin-top: 5rem;
  padding-bottom: 5rem;
  background: $section3_color;
  border-radius: 7px;

  .section3_div1{
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 7px;
  }
}
.section3_div1_div2{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  .swiper-wrapper{
    margin-top: 3rem;
  }
}
/*-------------------------- style of big title -------*/
.section3_div1_div2 h2{
  font-family: Ivypresto,Georgia,sans-serif;
  font-size: 5rem;
  line-height: 1;
  font-weight: 400;
  color: $swiper-slide-white;
}
/*----------------------- syle of swiper-slide ---------------------*/
.section3_div1 .swiper-slide{
  .a_swiper_slide{
    text-decoration: none;
    width: 330px;
    height: 511px;
    @extend %div-col;
    align-items: flex-start;
    border-radius: 7px;
    background: $swiper-slide-white;
    border: 1px solid $swiper-slide-white;
    transition: all 0.2s ease-in-out;
  }
  .a_swiper_slide:hover{
    border: 3px solid $btn-bg1;
  }
}
/*----------------------- swiper-slide img ------------------------*/
.a_swiper_slide .slide_img {
  width: 100%;
  height: 40%;
  @extend %clip-bottom-section3;
  img {
    border-radius: 7px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
/*----------------------------------- swiper-slide texte ------------------------------------*/
.a_swiper_slide .slide_div{
  padding: 0 24px;
  @extend %div-col;
  align-items: flex-start;
  height: 55%;
}
.section3_div1  .slide_h3,.section3_div1 .slide_p p{
  color: $text-header-color-a;
  font-family: Ivypresto, Georgia, sans-serif;
  text-decoration: none;
}
.section3_div1  .slide_h3{
  font-family: Ivypresto, Georgia, sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
}
.slide_p{
  margin-top: 1rem;
}
/*------------------ style of swiper-slide link e.g:(casual) (winter)---------------*/
.section3_div1 .slide_div .div_button {
  width: 100%;
  @extend %div-row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  margin-top: auto;

  .section_slide_a {
    display: block;
    text-decoration: none;
    min-width: 56px;
    padding: 0.2em 0.8em 0.3em;
    border: 1px solid $text-header-color-a;
    border-radius: 20px;
    color: $text-header-color-a;
    font-size: .75rem;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  .section_slide_a:hover{
    color: $btn_bg1;
    border-color: $btn_bg1;
  }
}
/*------------ style of swiper3 btn ------------------*/
.section3_div1 .div_btn{
  @extend %div-row;
}
.section3_div1 .swiper_btn{
  background: $btn_bg1;
  color: $swiper-slide-white;
}
.section3_div1 .swiper-button-prev{
  position: absolute;
  top: 30px;
  left: 920px;
}
.section3_div1 .swiper-button-next{
  position: absolute;
  top: 30px;
  right: 30px;
}
/*---------- second big div ---------*/

.section3_div2{
  @extend %div-row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0 20px;
}
.section3_div2_div1, .section3_div2_div2{
  width: 40%;
  padding: 0 20px;

}
/*--------------- style of first blog -----------*/
.section3_div2_div1{
  @extend  %div-col;
  align-items: flex-start;
  justify-content: space-around;
  height: 550px;

  .div1_div2{
    margin-top: 3rem;
    @extend %div-col;
    align-items: flex-start;
    p{
      width: 345px;
      font-family: "Gt Alpina Extended", Arial, sans-serif;
      font-size: 1.5rem;
      line-height: 1.4;
      font-weight: 300;
      letter-spacing: -0.02em;
      color: $main-color;
      margin-bottom: 1rem;
    }
  }
}
.section3_div2 .reference{

  h4{
    font-size: 0.875rem;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $main-color;

  }
  .paragraphe{
    font-family: "Gt Alpina Typewriter", Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.4;
    color: $main-color;
  }
}
/*--------- block with the big image ----------*/
.section3_div2_div2{
  width: 55%;
  .div_img{
    @extend %clip-left;
    width: 550px;
    height: 550px;

    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
/*------------- button halalala ------------*/
.halalala .block_halalala{
  @extend %div-col;
  align-items: flex-start;
  width: 450px;
  height: 126px;
  border: 1px dotted $main-color;
  text-decoration: none;
  border-radius: 7px;
  padding: 24px;
  margin-top: 3rem;

  .row_texte{
    @extend %div-row;
    width: 100%;
    justify-content: space-between;
    h3{
      margin-bottom: 1.5em;
    }
  }
  h4{
    font-family: Ivypresto, Georgia, sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    color: $main-color;
  }
}

/*======================================= SECTION4 ========================================*/
/*========================================================================================*/

.section4{
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
/*--------------- block with the big text and sentence ----------------*/
  .section4_div1{
    @extend %div-col;
    align-items: flex-start;
    width: 100%;
    h2{
      margin-top: 0;
      margin-bottom: 0.4em;
      font-family: Ivypresto,Georgia,sans-serif;
      font-size: 5rem;
      line-height: 1;
      font-weight: 400;
    }
    .p_section4_div1{
      width: 901px;
      font-size: 1.5em;
      margin-bottom: 3rem;
    }
  }
}
/*--------------- block with the card pro et free ----------------*/
/*---style des deux block---*/
.section4_div2{
  @extend %div-row;
  width: 100%;
  .section4_div2_div1, .section4_div2_div2{
    @extend %div-col;
    width: 628px;
    border-radius: 7px;
    background: $swiper-slide-white;
    padding: 24px;
    height: 328px;
  }
  .section4_div2_div2{
    background: $btn_bg2;
    margin-left: 20px;
  }
}
/*---------- style of first block(free) ---------*/
.section4_div2_div1_div1, .div_block{
  @extend %div-col;
  align-items: flex-start;
  width: 100%;
  .div_block{
    .texte_party_preview{
      font-family: Ivypresto,Arial,sans-serif;
      font-size: 1.5rem;
      letter-spacing: 0.1px;
      color: $text-header-color-a;
      svg{
        width: 21px;
        height: 21px;
      }
    }
  }
}
/*--------------- div underline ------------*/
.souligne{
  width: 100%;
  height: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px dotted $text-header-color-a;
}

.section4_div2_div1_div1 .div_block_row {
  @extend %div-row;
  justify-content: space-between;
  width: 100%;

  .div_texte_free {
   @extend %div-row;
    align-items: flex-start;
    h2 {
      font-family: Ivypresto, Georgia, sans-serif;
      font-size: 5rem;
      line-height: 1.1;
      font-weight: 400;
    }
  }
  .liste{
    @extend %div-col;
    align-items: flex-end;
    justify-content: space-around;
  }
}
.section4_div2_div1_div1 .div_block_row .liste ul{
  list-style: outside;
  li{
    width: 305px;
    margin-bottom: 0.3em;
    font-weight: 500;
  }
}
.section4_div2_div1_div2, .section4_div2_div2_div2{
  width: 100%;
  margin-top: auto;
  @extend %div-row;
  button{
    @extend %div-row;
    justify-content: center;
    border-radius: 7px;
    width: 100%;
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    letter-spacing: .08em;
  }
}
/*---------- style of second block(pro) ---------*/

.section4_div2_div2 .section4_div2_div1_div1 .div_block .row{
  width: 100%;
  @extend %div-row;
  justify-content: space-between;

  .section4_block2{
    @extend %div-row;
    justify-content: space-around;

    a{  text-decoration: none;
      color: $text-header-color-a;
      font-size: 0.875rem;
      line-height: 1.1;
      font-weight: 500;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      padding: 8px;
    }
    a.bold{
      font-weight: 600;
    }
  }
}
.section4_div2_div2 .div_texte_pro{
  @extend %div-col;
  justify-content: space-around;

  .price,.save{
    @extend %div-row;

  }
  .price{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    h2{
      font-family: Ivypresto, Georgia, sans-serif;
      font-size: 5rem;
      line-height: 1.1;
      font-weight: 500;
    }
    .sub{
      margin-bottom: 0.4em;
      font-weight: 500;
    }
  }
  .save .text-candy{
    color: $btn_bg1;
  }
}
/*----------- div.marge-------------*/
.marge{
  padding: 4rem 0;
}

/*======================================== SECTION5 ==============================*/
/*===============================================================================*/
.section5{
  width: 100%;
  @extend %div-row;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 5rem;
}
.section5_div1, .section5_div2{
  max-width: 50%;
}
.section5_div1{
  @extend %div-col;
  align-items: flex-start;
  .h2_section5{
    width: 516px;
    margin-top: 0px;
    margin-bottom: 0.4em;
    font-family: Ivypresto, Georgia, sans-serif;
    font-size: 5rem;
    line-height: 1.1;
    font-weight: 400;
  }
  .p_section5{
    width: 516px;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    a{
      color: $btn-bg1;
      text-decoration: none;
    }
  }
  .learn_more{
    background: $btn-bg2;
    color: $btn-bg1;
    border-radius: 7px;
  }
}
.section5_div2{
  .div_img{
    @extend %clip-top;
    width: 100%;
    height: 100%;
    img{
      object-fit: cover;
      width: 628px;
      height: 420px;
    }
  }
}

/*===================================== footer ====================================*/
/*================================================================================*/
footer {
  @extend %div-col;
  padding: 0 40px;
  padding-top: 6rem;
  background-color: $text-header-color-a;
  color: $main-color;

  .footer_row {
    @extend %div-row;
    align-items: flex-start;
    width: 100%;

    .footer_h2 {
      font-family: Ivypresto, Georgia, sans-serif;
      font-size: 3rem;
      line-height: 1.1;
      font-weight: 400;
      width: 740px;
    }
  }
.footer_row2{
  width: 100%;
  .footer_row2_row1{
    @extend %div-row;
    width: 100%;
    }
  }
}

.footer_row2_row1 .footer_row_div1, .footer_row2_row2 .footer_row_div1, .footer_row2_row3 .footer_row_div1{
  @extend %div-row;
  align-items: flex-end;
  width: 70%;
  height: 40px;
  a {
    display: inline-block;
    margin-right: 2rem;
    color: $main-color;
    font-size: .9rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.footer-subscribe_form {
  @extend %div-col;
  align-items: flex-start;

  .paragraph{
    font-family: 'Gt Alpina Typewriter',Arial,sans-serif;
    font-size: .875rem;
    line-height: 1.4;
    color: $main-color;
  }
}
.footer_row2_row1 .footer_row_div2, .footer_row2_row2 .footer_row_div2, .footer_row2_row3 .footer_row_div2{
  @extend %div-row;
  justify-content: flex-end;
  width: 30%;
}
  form .footer-subscribe{
  width: 100%;
  display: flex;
  height: 60px;
  .footer-subscribe_input{
    height: 100%;
    padding: 12px 24px;
    flex: 1;
    border-radius: 5px 0 0 5px;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.2;
    border: 1px solid $main-color;
  }
    .footer-subscribe_input::placeholder{
      color: $main-color;
    }
  .footer-subscribe_btn{
    width: 46px;
    height: 100%;
    flex: 0 0 auto;
    border-radius:  0 5px 5px 0;
    background-color: $main-color;
    background-image: url(../assets/border.svg);
    background-position: 50% 45%;
    background-size: 20px;
    background-repeat: no-repeat;
    color: transparent;
    border: 1px solid $main-color;

  }
}
  /*--------------------- div souligne  --------------------------*/
.footer_line{
  border-bottom-color: $main-color;
}
/*--------------------- row2 for links and socials medial icons --------------------------*/
.footer_row2_row2, .footer_row2_row3{
  @extend %div-row;
  margin-bottom: 2rem;
  .footer_row_div1{
    align-items: center;
  }
}
.footer_row2_row2 .footer_row_div2 svg{
  width: 24px;
  height: 24px;
  color: $main-color;
  margin: 0 8px;
}

.footer_row2_row3 .footer_row_div1{
  p{
    width: 657px;
  }
}
.footer_row2_row3 .footer_row_div2 a{
  text-decoration: none;
  color: $main-color;
  margin: 0 8px;
}
/*------------------------------ logo in bottom ---------------------*/
.footer-logo_wrapper{
  height: 14vw;
  max-height: 200px;
  overflow: hidden;
  width: 100%;

}
 .footer-logo{
  width: 100%;
}

 /*======================================= POPPUP ========================================*/
/*========================================================================================*/
.poppup{
  @extend %div-row;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: $poppup-bg-color;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  transition: all 1s ease-in-out;
  opacity: 0;
  animation: appear 1s ease-in-out forwards;
}
.poppup_active{
  display: flex;
}
.poppup .poppup_row{
  @extend %div-row;
  max-width: 60rem;
  border-radius: 0.5rem;
  background: $main-color;

  .poppup_col1, .poppup_col2{
    @extend %div-col;
    align-items: flex-start;
    height: 434px;
  }
}
.poppup_row .poppup_col1{
  .poppup_img{
    @extend %clip-right;
    width: 100%;
    height: 100%;
    img{ // poppup image
      object-fit: cover;
      height: 434px;
      width: 411px;
    }
  }
}
/*--------------- second col ------------*/
.poppup_row .poppup_col2 .width{
  padding: 3rem;
  @extend %div-col;
  align-items: flex-start;
  gap: 2rem;

  .h3{ // h3
    font-family: Ivypresto,Georgia,sans-serif;
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 400;
  }
  p{ // paragraphe
    font-size: 1.25rem;
  }
}
.poppup_row .poppup_col2{

  .div_form{
    width: 100%;
    height: 100%;

    .input-group{
      display: block;
      margin-bottom: 1.5rem;
      label{ // label
        color: $text-header-color-a;
        font-family: Arial;
        letter-spacing: 1.1px;
        font-weight: 600;
      }
    }
  }
}
.poppup_row .poppup_col2 .form_poppup{
  position: relative;
  width: 100%;
  /*----------- btn email -----------------*/
  .input_poppup{
    width: 100%;
    height: 100%;
    min-height: 60px;
    padding: 1rem 1.2rem;
    border: 1px solid $text-header-color-a;
    border-radius: 7px;
    background: transparent;
    color: $text-header-color-a;
    font-size: 1rem;
  }
/*----------- btn submit -----------------*/
  .input_btn{
    margin-top: 2rem;
    font-family: Arial;
    width: 100%;
    min-height: 60px;
    justify-content: center;
    background: $btn-bg1;
    text-transform: uppercase;
    color: $main-color;
    font-weight: 600;
    border-radius: 7px;
    margin-left: 0;
  }
  .input_btn:hover{
    background: $btn-bg2;
    color: $btn-bg1;
  }
}

/*----------------- btn to close poppup -----------------*/
.poppup_row {
  position: relative;
  .swiper_btn{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .poppup_close_btn{
    cursor: pointer;
  }
}

/*======================================== responsive ====================================*/
/*=======================================================================================*/

/*-------------- 1200px ----------*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  header .nav_link{
    font-size: 0.9rem;
  }
  .section3_div1 .swiper-button-prev{
    left: 670px;
  }
  .section3_div1 .swiper-slide .a_swiper_slide{
    width: 260px;
    height: 587px;
  }
  .section3_div2_div2 .div_img img{
    width: 422px;
    height: 601px;
  }
  .halalala .block_halalala{
    width: 343px;
    h4{
      font-size: 1.8rem;
    }
  }
  .section4_div2 {
    .section4_div2_div1, .section4_div2_div2 {
      width: 440px;
      height: 460px;
    }
  }
  .section4_div2_div1_div1 .div_block_row{
    gap: 30px;
    .liste ul li{
      width: auto;
    }
  }
  .section5_div1 .p_section5{
    width: 360px;
  }
  .section5_div2 .div_img img {
    object-fit: cover;
    width: 440px;
    height: 420px;
  }
  footer .footer_row .footer_h2 {
    width: 520px;
  }
  .footer_row2{
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .footer_row2_row1 .footer_row_div1{
    flex-wrap: wrap;
    width: 60%;
  }
  .footer_row2_row1 .footer_row_div2{
    width: 40%;
  }
}
/*-------------- < 1024px -----------------*/
@media only screen and (max-width: 1023px) {
  header{
    .btn_menu_hamburger{
      display: block;
    }
  }
  header nav {
    z-index: 50;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: $btn-bg1-a;
    display: none;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-end;
    animation: nav_appear 0.5s forwards ease-in-out;

    ul {
      height: 100vh;
      width: 30vw;
      background: $btn-bg2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 80px 20px 0;
    }
  }
  header nav ul {
    .nav_link {
      font-size: 1.5em;
      margin: 0 0 8px;
      padding: 8px 12px;

      svg {
        width: 25px;
        height: 25px;
      }
    }

    .nav_link_dropdown {
      margin-left: 10px;
      .dropdown{
        border-radius: 0;
        border-top: 1px dotted $text-header-color-a;
        border-bottom: 1px dotted $text-header-color-a;
        position: relative;
        display: none;
        width: auto;
        height: auto;
        margin-top: -20px;
        margin-bottom: 12px;
      }
    }
  }
  .section4 .section4_div1 .p_section4_div1{
    width: 680px;
  }
}
/*------------ < 991px -----------------*/

@media only screen  and (max-width: 991px) {
  .section1 {
    flex-direction: column;
    justify-content: center;

    .section1_div1, .section1_div2 {
      max-width: 100%;
    }

    .section1_div2 {
      margin-top: 20px;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .section1 .section1_div2 .swiper {
    position: relative;
    top: 100px;
    left: -100px;

    .swiper-button-prev {
      position: absolute;
      left: 200px !important;
    }
  }
  .section1 .section1_div1 .p2_section1 {
    height: auto;
    width: auto;
  }
  .section1 .section1_div1 .row1_section1_div1 .p_section1 {
    width: 736px;
    height: 72px;
  }
  .section2 .section2_div2_div1_div1 .h2_section_div2 {
    font-size: 3rem;
  }
  .section3 .swiper-slide {
    width: 356px !important;
    margin-left: 30px;

    .a_swiper_slide {
      width: 100%;
    }
  }
  .section3 .section3_div1 .swiper-button-prev {
    left: 600px;
  }
  .section3_div2_div2 .div_img img {
    width: 407px;
  }
  .halalala .block_halalala {
    width: auto;
    height: 156px;
  }
  .section4 .section4_div1 {
    h2 {
      font-size: 4rem;
    }

    .p_section4_div1 {
      width: auto;
      font-size: 1.25rem;
    }
  }
  .section4 .section4_div2 {
    flex-direction: column;
    gap: 2rem;
  }
  .marge {
    padding: 2rem 0;
  }
  .section5_div2 .div_img {
    img {
      width: 425px;
    }
  }
  .section5_div1 {
    .h2_section5 {
      font-size: 4rem;
      width: 425px;
    }

    .p_section5 {
      width: 400px;
      height: 210px;
    }
  }
  footer .footer_row2 .footer_row2_row1{
    flex-direction: column-reverse;
    justify-content: flex-end;
    .footer_row_div1, .footer_row_div2{
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      .paragraph{
        margin: 40px 0;
      }
      a{
        font-size: 0.94rem;
      }
    }
    .footer_row_div2{
      margin-bottom: 2rem;
    }
  }

  footer .footer_row2 .footer_row2_row2{
    flex-direction: column;
    justify-content: flex-start;
    .footer_row_div1, .footer_row_div2 {
      justify-content: flex-start;
      width: 100%;
      a{
        font-size: 0.94rem;
      }
      svg{
        width: 30px;
        height: 30px;
      }
    }
    .footer_row_div2{
      margin-top: 2rem;
    }
  }
  footer .footer_row2 .footer_row2_row3{
    flex-direction: column-reverse;
    justify-content: flex-start;
    .footer_row_div1, .footer_row_div2 {
      justify-content: flex-start;
      width: 100%;
      p{
        margin-top: 2rem;
        width: auto;
        font-size: 1rem;
      }
    }
  }
}
/*----------------- between 768px and 978px --------------------*/
@media only screen and (min-width: 768px) and  (max-width: 991px) {

  .section1 .section1_div1 .row1_section1_div1 .p_section1{
    width: auto;
    height: 92px;
  }
  .section2 .section2_div2_div1_div1 .h2_section_div2, .section3_div1_div2 h2{
    font-size: 2.6rem;
  }
  .section3 .section3_div1 {
    .swiper-slide{
      width: 43%!important;
      .a_swiper_slide{
        height: 600px!important;
      }
    }
    .swiper_btn{
      top: 20px;
    }
    .swiper-button-prev {
      left: 450px;
    }
  }
  .section3{
    .section3_div1, .section3_div2{
      margin-top: 0;
    }
  }
  .section3_div2_div1 {
    height: 673px;
    .halalala .block_halalala {
      width: 250px;
    }
    .div1_div2 p {
      width: 270px;
    }
  }
  .section3 .section3_div2_div2 .div_img {
      width: 307px;
      height: 673px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .section5_div1{
    margin-right: 30px;
    .p_section5 {
      width: 300px;
      height: 280px;
    }
  }

  .section5_div2 .div_img img {
    width: 325px;
  }
}
/*------------- animations ---------------*/
@keyframes appear {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes nav_appear {
  from{
    right: -2000px;
  }
  to{
    right: 0;
  }
}
