
<section class="poppup">
  <div class="poppup_row">
    <div class="swiper_btn">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 24 24">
        <path fill="CurrentColor" d="M14.5,12l9-9c0.7-0.7,0.7-1.8,0-2.5c-0.7-0.7-1.8-0.7-2.5,0l-9,9l-9-9c-0.7-0.7-1.8-0.7-2.5,0 c-0.7,0.7-0.7,1.8,0,2.5l9,9l-9,9c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0l9-9l9,9c0.7,0.7,1.8,0.7,2.5,0 c0.7-0.7,0.7-1.8,0-2.5L14.5,12z"></path>
      </svg>
    </div>
    <div class="poppup_col1">
      <div class="poppup_img">
        <img src="assets/image/63cb3a613f5ddfc7ae709401_pexels-koolshooters-7142962.webp" alt="imege_poppup">
      </div>
    </div>
    <div class="poppup_col2">
      <div class="width">
        <div class="h3">
          <em>Throw the Confetti</em>
        </div>
        <p>
          Hosting made doable with expert tips, trends, &amp; of course some sparkle.
        </p>
        <div class="div_form">
          <form id="poppup_form" action="#" method="post" class="form_poppup">
            <div class="input-group">
              <label for="email_poppup">Email*</label>
              <input id="email_poppup" type="email" class="input_poppup" maxlength="256" name="email" placeholder="Email address">
            </div>
            <button type="submit" class="input_btn">
              join the newsletter
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
